<%- include('header') %>
<h1 class="h3 mb-3 fw-normal">Szerkesztés</h1>
<% if (typeof myPost !== 'undefined') { %>
  <form method="post">
    <textarea class="form-control" id="text" name="text" style="height: 100px"><%= myPost.text %></textarea>
    <button class="btn btn-outline-primary my-2" type="submit">
      Mehet
    </button>
  </form>
  <form action="/remove-post/<%= myPost.id %>" method="post">
    <button class="btn btn-outline-danger btn-sm mt-4" type="submit">
      Törlés
    </button>
  </form>
<%} %>

<%- include('footer') %>
