<%- include('header') %>
<h1 class="h3 mb-3 fw-normal">Szerkesztés</h1>
<% if (typeof myPost !== 'undefined') { %>
<form method="post">
  <textarea class="form-control" id="text" name="text" style="height: 100px"><%= typeof text !== 'undefined' ? text : myPost.text %></textarea>
  <div class="d-flex justify-content-between">
    <button class="btn btn-outline-primary my-2" type="submit">
      Mehet
    </button>

    <a href="/my-posts" class="btn btn-outline-secondary my-2">
      Vissza mentés nélkül
    </a>
  </div>
</form>
<form action="/remove-post/<%= myPost.id %>" method="post">
  <button class="btn btn-outline-danger btn-sm my-2" type="submit">
    Törlés
  </button>
</form>
<%} %>

<%- include('footer') %>