<%- include('header') %>

<div style="max-width: 400px;" class="mx-auto">
  <div class="text-warning mt-3 mb-3 fs-5">Váratlan hiba történt.</div>
  <img src="/heihei.gif" class="mx-auto d-block m-3" />
  <a href="/" class="link-primary text-decoration-none"
    >Vissza a kezdőlapra</a
  >
</div>

<%- include('footer') %>
