<%- include('header') %>
<% if (typeof user !== 'undefined') { %>
  <h1 class="h3 mb-3 fw-normal"><%= user %></h1>
<%} %>
<% if (typeof myPosts !== 'undefined' && myPosts) { %>
  <h1 class="h3 mb-3 fw-normal">Kikukorékolt gondolataim</h1>
<%} %>
<% if (typeof me !== 'undefined' && typeof user === 'undefined' && typeof myPosts === 'undefined') { %>
  <form action="/post" method="post">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Gondolatok" id="post" name="post" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Gondolataim a nagyvilágnak</label>
    </div>
    <div style="text-align: right;">
      <button class="btn btn-outline-primary my-2" type="submit">
        Kikukorékolom
      </button>
    </div>
  </form>
<%} %>
<% if (typeof posts !== 'undefined') { %>
  <% posts.forEach(post => { %>
    <%- include('post', {post, myPost: typeof myPosts !== 'undefined' && myPosts}) %>
  <% }) %>
<% } %>
<%- include('footer') %>
