<% if (typeof picturePath !== 'undefined' && picturePath) { %>
<img src="/<%= picturePath %>" alt="Profilkép" class="object-fit-contain<%= typeof imgClass !== 'undefined' ? ` ${imgClass}`  :'' %>" style="width: 24px; height: 24px; border-radius: 12px;" />
<% } else if (typeof noIcon === 'undefined' || !noIcon) { %>
<span class="<%= typeof imgClass !== 'undefined' ? imgClass  :'' %>" style="width: 24px; height: 24px; text-align: center;">
  <i class="bi bi-person"></i>
</span>
<% } %>