<%- include('header') %>
<h1 class="h3 mb-3 fw-normal">Felhasználók</h1>
<div class="list-group">
  <% if (typeof users !== 'undefined') { %>
  <% users.forEach(user => { %>
  <%- include('user', {user}) %>
  <% }) %>
  <% } %>
</div>
<%- include('footer') %>