<%- include('header') %>
<h1 class="h3 mb-3 fw-normal">Felhasználók</h1>
<div class="list-group">
  <a href="/posts/:userId" class="list-group-item list-group-item-action"
    >Felhasználó 1</a
  >
  <a href="/posts/:userId" class="list-group-item list-group-item-action"
    >Felhasználó 2</a
  >
  <a href="/posts/:userId" class="list-group-item list-group-item-action"
    >Felhasználó 3</a
  >
  <a
    href="/profile"
    class="list-group-item list-group-item-action d-flex justify-content-between"
    >Kata <span class="badge text-bg-light fw-light">én</span></a
  >
</div>
<%- include('footer') %>
