<a href="<%= (typeof me !== 'undefined' && user.id === me.id) ? '/profile' : `/posts/${user.id}` %>" class="list-group-item list-group-item-action d-flex flex-row align-items-center">
  <%- include('profileIcon', {picturePath: user.picturePath, imgClass: 'me-2'}) %>
  <span class="d-flex flex-grow-1 justify-content-between"><%= user.name%><% if (typeof me !== 'undefined' && user.id === me.id) { %> <span class="badge text-bg-light fw-light ms-2">én</span><% } %></span>
</a>